html,
body,
ul,
li,
ol,
form,
legend,
fieldset,
textarea,
a, p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: unset;
}

html, body {
  height: 100dvh;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

#app {
  display: flex;
  justify-content: center;
  height: calc(100dvh - 5rem);
  padding: 2.5rem;
  background-color: #0c5012;
}

#app .table {
  max-width: 290px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7ch, 1fr));
  align-content: center;
  justify-content: center;
  place-items: center;
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
  grid-gap: 0.25rem 0.25rem;
  height: inherit;
  flex-grow: 1;
}

#app .table .card {
  border-radius: 1rem;
  color: #5cb85a;
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform-style: preserve-3d;
  position: relative;
  user-select: none;
  font-size: clamp(3rem, 15vw, 5rem);
  font-family: 'Space Mono';
}

#app .table .card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
}

#app .table .card .front, #app .table .card .back {
  display: flex;
  box-shadow: 0.3rem 0.3rem 0.2rem #022c17;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 1rem;
  object-fit: cover;
  transition: 1s all;
}

.back{
  background-color: #399138;
}

.turn-enter-active,
.turn-leave-active {
  transition: all .5s ease-out;
}

.turn-enter-from,
.turn-leave-to {
  transform: rotateY(180deg);
}

.score{
  text-align: center;
  font-family: 'Space Mono';
  font-size: 0.8rem;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  margin: 0;
  padding: 0;
  color: #e2ffd0;
}

.victory{
  position: absolute;
  top: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 20;
  width: 100%;
  font-family: 'Space Mono';
}

@media (min-width: 330px){
  .score{
    font-size: 1rem;
  }
}

@media (min-width: 750px) {
  #app .table {
    grid-auto-rows: 15ch;
    grid-template-columns: repeat(auto-fill, minmax(10ch, 1fr));
    max-width: 670px;
    margin: 0 auto;
  }
}
@media (min-width: 1025px) {
  #app .table {
    min-height: unset;
    max-width: 44rem;

  }
}
/*# sourceMappingURL=master.css.map */