<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="./css/master.css" />
      <link rel="icon" href="img/favicon.png" type="image/x-icon" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap"
         rel="stylesheet"
      />
      <title>Muistipeli!</title>
   </head>
   <body>
      <div id="app" ref="main">
         <p v-if="found == cards.length/2" class="score">
            Löysit kaikki parit! Vuorot: {{turns}}
         </p>
         <p v-else class="score">Vuorot: {{turns}}</p>
         <div class="table">
            <div
               class="card"
               v-for="card in cards"
               v-on:click="turn(card), compare(card)"
            >
               <transition name="turn">
                  <div class="back" v-if="!card.turned" key="1">
                     <p>{{ card.name }}</p>
                  </div>
                  <div class="front" v-else key="2">
                     <img :src="card.image" alt="" />
                  </div>
               </transition>
            </div>
         </div>
      </div>

      <script src="./app.js"></script>
   </body>
</html>
